
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{font-family: buda, 'roboto', Times, serif;
margin: 0
;}

.subcontenedor{
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;

    


}

    .contenido-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        line-height: 50px;
        border-radius: 800px 0 400px 0;
        padding:30px;
        margin-right: 20px;
        background-color: rgb(214, 212, 212);
        
        
    }



            .img-producto{ height: 250px;}
    
             .contenido-1 input { 

             margin: 10px;
             line-height: 30px;
             width: 60%;
    
             }


            .contenido-1 button{
            margin: 10px;
            width: 40%;
            font-size: 15px;
            }

    .contenido-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        line-height: 50px;
        border-right: 20px solid gray;
        border-bottom: 20px solid gray;;
        border-radius: 0 600px 600px 600px;
        padding:30px;

    }

            .botones-resumen{
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: space-around;
                padding: 10px;
                
                


            }
         
            .contenido-2 button{
               
               width: 50%;
               font-size: 15px;
               margin: 15px;

                }


            .muestracolor{
            background-color: black;
            height: 20px;
            width: 20px;
            margin-left: 10px;
            border-radius: 5px;
        }

            .caja-color{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                    
            }
        
            button{
                border-radius: 10px;
                cursor: pointer;
                background-color: #464344c5;
                font-size: 30px;
                color: #fff;
                border-right: 5px solid rgba(240, 238, 135, 0.993);

            }

            button:hover{transform: scale(1.1);}